<ul>
{{#each items as |item|}}
<tr>
  <td><img src="/imagenes/{{item.img}}" width="115px" height="135px"></td> <!-- Aca va a estar el escudo \-->
  <td>{{item.name}}</td>
  <td>{{item.country}}</td>
  <td>
    <form method="POST" action="/view">
    <input type="text" name="user[id]" value="{{item.id}}" hidden>
    <input class="btn btn-outline-secondary" type="submit" value="Ver">
    </form>

    <form method="POST" action="/edit">
    <input type="text" name="user[id]" value="{{item.id}}" hidden>
    <input class="btn btn-outline-secondary" type="submit" value="Editar">
    </form>

    <form method="POST" action="/delete">
    <input type="text" name="user[id]" value="{{item.id}}" hidden>
    <input class="btn btn-outline-secondary" type="submit" value="Eliminar">
    </form>
  </td>
</tr>
{{/each}}
</ul>
